@tailwind base;
@tailwind components;
@tailwind utilities;

.pricing-slide {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.pricing-slide.right {
  animation-name: slideInRight;
}

.pricing-slide.left {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
